<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css"
</head>
<body>
    <h1><%= title %></h1>
    <form method="POST" action="/new">
        <label for="author">Author:</label><br>
        <input type="text" name="messageUser" required><br>
        <label for="msg">Message:</label><br>
        <input type="text" name="messageText" required><br>
        <input type="submit" value="Submit">
    </form>
    <a href="/">Back to main</a>
</body>
</html>